
<sidenav layout="vertical"></sidenav>

  <div layout="column" flex>
    <div style="background-color: #3949ab">
      Toolbar
      <button md-button class="md-icon-button md-primary" aria-label="Settings">
        <i md-icon>menu</i>
      </button>
    </div>
    <md-content flex>
      content
      <!--<router-outlet></router-outlet>-->
    </md-content>
  </div>
  <!--<md-toolbar class="md-whiteframe-z1">
    <nav class="md-toolbar-tools">
      <button md-button alt="Home" class="md-icon-button" [routerLink]="['/Home']"><i class="" md-icon>home</i></button>
      <h1 flex>My Angular2 App</h1>
    </nav>
  </md-toolbar>

  <md-content layout-padding layout="column" layout-align="center center">
    home content
    <router-outlet></router-outlet>
  </md-content>-->
